
@{
    ViewBag.Title = "Home";
}

<div class="row" ng-if="auth.isLoggedIn()">    
    <div class="col-md-3 column">
        <div class="box box-solid">
            <header class="box-header with-border">
                <h3 class="box-title">Users</h3>             
            </header>
            <div class="box-body" >
                <form name="forms.registerForm" class="form-horizontal" ng-submit="register()">
                    <div class="form-group">
                        <label class="col-md-4">Username</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" ng-model="user.UserName"
                                   required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Email</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control input-sm" ng-model="user.Email"
                                   required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control input-sm" ng-model="user.Password"
                                   required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Confirm Password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control input-sm" ng-model="user.ConfirmPassword"
                                   required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default btn-xs pull-right">
                              <i class="fa fa-user text-green"></i>  Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <ul class="nav nav-pills nav-stacked" style="height: 800px !important; overflow:auto;">
                    <li ng-repeat="u in userList"
                         ng-class="{active:u.selected}"
                        >
                           <a href="#"  ng-click="selectItem(u, 'user', $index)">
                           <span><i class="fa fa-user text-green"></i> {{u.UserName}}</span><br />
                           <span><i class="fa fa-envelope-o text-blue"></i> {{u.Email}}</span>
                       </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="col-md-3 column">
        <div class="box box-solid">
            <header class="box-header with-border">
                <h3 class="box-title">Agent</h3>
            </header>
            <div class="box-body">
                <form class="form-horizontal" name="forms.agentForm" ng-submit="addAgent()">
                    <div class="form-group">
                        <label class="col-md-12">Agent Name</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="agent.AgentName" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-if="!context.newAgent"
                                    ng-click="newAgent()">
                                New
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-if="!context.newAgent"
                                    ng-click="deleteAgent()"
                                    >
                                Delete
                            </button>
                            <button type="submit" class="btn btn-default btn-xs pull-right" 
                                    ng-if="context.newAgent">
                                <i class="fa fa-user text-blue"></i> Add</button>
                            <button type="submit" class="btn btn-default btn-xs pull-right"
                                    ng-if="!context.newAgent">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <ul class="nav nav-pills nav-stacked" style="height: 800px !important; overflow:auto;">
                    <li ng-repeat="u in agentList" ng-click="selectItem(u, 'agent', $index)"
                        ng-class="{active:u.selected}"
                        >
                        <a href="#">
                            <span><i class="fa fa-user text-blue"></i> {{u.AgentName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-3 column">
        <div class="box box-solid">
            <header class="box-header with-border">
                <h3 class="box-title">Bank</h3>
            </header>
            <div class="box-body">
                <form class="form-horizontal" name="forms.bankForm" ng-submit="addBank()">
                    <div class="form-group">
                        <label class="col-md-12">Bank Name</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="bank.BankName" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-if="!context.newBank"
                                    ng-click="newBank()">
                                New
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-if="!context.newBank"
                                    ng-click="deleteBank()">
                                Delete
                            </button>
                            <button type="submit" class="btn btn-default btn-xs pull-right"
                                    ng-if="context.newBank">
                                <i class="fa fa-university text-blue"></i> Add
                            </button>
                            <button type="submit" class="btn btn-default btn-xs pull-right"
                                    ng-if="!context.newBank">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <ul class="nav nav-pills nav-stacked" style="height: 800px !important; overflow:auto;">
                    <li ng-repeat="u in bankList"
                         ng-class="{active:u.selected}"
                        >
                        <a class="#" ng-click="selectItem(u, 'bank', $index)">
                            <span><i class="fa fa-university text-blue"></i> {{u.BankName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-3 column">
        <div class="box box-solid">
            <header class="box-header with-border">
                <h3 class="box-title">Center</h3>              
            </header>
            <div class="box-body">
                <form class="form-horizontal" name="forms.centerForm" ng-submit="addCenter()">
                    <div class="form-group">
                        <label class="col-md-12">Center Name</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="center.CenterName" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Center No</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="center.CenterNo" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-if="!context.newCenter"
                                    ng-click="newCenter()">
                                New
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-if="!context.newCenter"
                                    ng-click="deleteCenter()">
                                Delete
                            </button>
                            <button type="submit" class="btn btn-default btn-xs pull-right"
                                    ng-if="context.newCenter">
                                <i class="fa fa-briefcase text-blue"></i> Add
                            </button>
                            <button type="submit" class="btn btn-default btn-xs pull-right"
                                    ng-if="!context.newCenter"
                                    ng-click="updateCenter()">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <ul class="nav nav-pills nav-stacked" style="height: 800px !important; overflow:auto;">
                    <li ng-repeat="u in centerList track by $index"
                         ng-class="{active:u.selected}"
                        >
                        <a class="#" ng-click="selectItem(u, 'center', $index)">
                            <span><i class="fa fa-briefcase text-blue"></i> {{u.CenterName}}</span><br />
                            <span>{{u.CenterNo}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="!auth.isLoggedIn() && state.login">

    <div class="login-box">
        <div class="login-logo">
            <a href="/Home/Index"><b>SAJIDA Foundation</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form class="form-horizontal" name="forms.loginForm" ng-submit="login()">
                <div class="form-group">
                    <label class="col-md-12">Username</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control input-sm" ng-model="user.UserName"
                               required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">Password</label>
                    <div class="col-md-12">
                        <input type="password" class="form-control input-sm" ng-model="user.Password"
                               required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success btn-sm pull-right">SignIn</button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>