
@{
    ViewBag.Title = "Home";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-10" ng-if="!auth.isLoggedIn() && state.login">
        <form class="form-horizontal" name="forms.loginForm" ng-submit="login()">
            <div class="form-group">
                <label class="col-md-2">Username</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="user.UserName"
                           required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" ng-model="user.Password"
                           required />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">SignIn</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-10" ng-if="!auth.isLoggedIn() && !state.login">
        <form name="forms.registerForm" class="form-horizontal" ng-submit="register()">
            <div class="form-group">
                <label class="col-md-2">Username</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="user.UserName"
                           required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="user.Email"
                           required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" ng-model="user.Password"
                           required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" ng-model="user.ConfirmPassword"
                           required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-10" ng-if="auth.isLoggedIn()">
       <h1>Welcome!</h1>
        <div class="table-responsive">            
            <h3>Users in the system</h3>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in userList">
                        <td>{{u.UserName}}</td>
                        <td>{{u.Email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
